h.pane.parms.edit_expression_external	"Edit w/ External Editor"	"Custom Menu Operation: Edit w/ External Editor"	 Alt+E
h.pane.textport.editor	"Open Editor"	"Open Editor"	
inputfield.editor	"Open Editor"	"Open editor"	
